<div [formGroup]="form" class="course-details-form">
  <mat-form-field>
    <input matInput formControlName="title" #title>
    <mat-label>Course Title</mat-label>
    <mat-hint align="end">{{title.value.length}} / 60</mat-hint>
    <mat-error *ngIf="courseTitle.errors?.minlength">
      A minimum lenght of 5 is required
    </mat-error>
    <mat-error *ngIf="courseTitle.errors?.required">
      Course title is required
    </mat-error>
  </mat-form-field>
  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-select formControlName="category" placeholder="Select category">
      <mat-option>None</mat-option>
      <mat-optgroup label="Beginners">
        <mat-option value="newtojs">New to JS</mat-option>
        <mat-option value="newtoangular">New to Angular</mat-option>
      </mat-optgroup>
      <mat-option value="intermediate">Intermediate</mat-option>
      <mat-option value="advanced">Advanced</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="datepicker">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker [dateClass]="dateClass"></mat-datepicker>
  </mat-form-field>
  <mat-checkbox formControlName="downloadsAllowed" color="primary">
    Downloads allowed?
  </mat-checkbox>
  <mat-form-field appearance="outline">
    <textarea matInput formControlName="longDescription" placeholder="Description"
              cdkTextareaAutosize
              [cdkAutosizeMinRows]="2"
              [cdkAutosizeMaxRows]="5">

    </textarea>
  </mat-form-field>
</div>
